<div class="row center" >
<form action="/login" method="POST" class="col s6 center">
  <div class="row center">
    <div class="input-field col s6 center">
      <input type="text" name="username" placeholder="Username:" align="center">
    </div>
  </div>
  <div class="row center">
    <div class="input-field col s6 center">
      <input type="password" name="password" placeholder="Password:" align="center">
    </div>
  </div>
  <div class="row  col s6  center">
  <button class="waves-effect  blue lighten-3 btn-small" type="submit" name="submit">
    Log In
  </button>
  </div>
</form>
</div>