<div class="row center" >
<form action="/signup" method="POST" class="col s6 center">

  <% if !!@user %>
  <div class="card-panel">
    <% @user.errors.messages.each do |k,v| %>
      <span class="red-text text-darken-2"> <%= k %> :  <%= v.first %></span><br>
    <% end %>
  </div>
  <%end %>
  <div class="row center">
    <div class="input-field col s6 center">
      <input type="text" name="email" placeholder="Email:">
    </div>
  </div>
  <div class="row center">
  <div class="input-field col s6 center">
    <input type="text" name="username" placeholder="Username:">
  </div>
  </div>
  <div class="row center">
  <div class="input-field col s6 center">
    <input type="password" name="password" placeholder="Password:">
  </div>
  </div>
  <div class="row  col s6  center">
  <button class="waves-effect  blue lighten-3 btn-small" type="submit" name="submit">
    Sign up
  </button>
  </div>
</form>
</div>