<form action="/missions/<%= @mission.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="missioncontent">Edit Mission: </label>
    <input type="text" name="content" id="missioncontent" value="<%= @mission.content %>">
  </div>
  <button class="waves-effect  blue lighten-3 btn-small" type="submit" name="submit">
    Submit
  </button>
</form>

<br>

<form action="/missions/<%= @mission.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="waves-effect  blue lighten-3 btn-small" type="submit" name="submit">
    Delete mission
  </button>
</form>